root = true

[*]
end_of_line = crlf
charset = utf-8
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cs,csproj}]
indent_size = 4

[*.{ts,html,scss,json}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
